{% extends 'base.html' %}

{% block content %}
<h1>About Page</h1>
<h2>Jaden Sherpa</h2>
<h2>Cohort 53</h2>
<h2>FSDI 112</h2>
<img src="https://images.unsplash.com/photo-1739286955022-569369156bc4?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae aspernatur culpa harum eius quia, hic ea distinctio dolorum, optio voluptas cumque consequatur, quas vitae nam numquam. Dolores, error perferendis.</p>
{% endblock content %}